*{
    font-family:'poppins',sans serif;
}
body{
    background-image: url("su2.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.box{
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 90vh;
}
.container{
    width: 350px;
    display:flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
}
.logo{
    font-size: 30px;
    color:white;
}

header{
    color: white;
    font-size: 30px;
    display:flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
.input-field{
    display: flex;
    flex-direction: column;
    
    
}
.input{
    height: 45px;
    width: 87%;
    border: none;
    outline: none;
    border-radius: 30px;
    color:white;
    padding: 0 0 0 42px;
    background: rgba(225,225,225,0.5);
    justify-content: space-between;
}

::-webkit-input-placeholder{
    color: white;        
}
.submit{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    background: rgba(225,225,225,0.5);
    cursor: pointer;
    transition: .3s;
}
.submit:hover{
    box-shadow: 1px 5px 7 1px rgba(0,0,0,0.2);
}
